<footer>
	<div class="container">
		<p>Data retrieved from the <a href="http://www.neowsapp.com/">NeoWs API</a>. SVG images borrowed from <a href="https://nasaprospect.com">NASA Prospect</a> and modified.</p>
		<p>Want to learn more? Visit NASA's <a href="http://neo.jpl.nasa.gov/">Near Earth Object Program</a>. Also consider contacting your <a href="https://www.senate.gov/general/contact_information/senators_cfm.cfm">congressperson</a> and telling them you want to maintain or increase NASA's funding!</p>
	</div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
<script src="{{ site.baseurl }}/js/tooltipster.bundle.min.js"></script>
<script src="{{ site.baseurl }}/js/main.js"></script>
</body>
</html>