// A simple Flexbox grid system with breakpoints and whatnot.
.row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.row-center {
	margin-top: auto;
	margin-bottom: auto;
	justify-content: center;
}
[class*=col-] {
	padding: 0 $gutter/2;
}

// Multiple 'for' loops seem necessary; otherwise, it was reorganizing the order in the CSS and wreaking havoc.
@for $i from 1 through $cols {
	.col-#{$i} {
		flex: 0 1 $i/$cols * 100%;
	}
}
@for $i from 1 through $cols {
	@include for-tablet-portrait-up {
		.col-#{$i}-tabletp {
			flex: 0 1 $i/$cols * 100%;
		}
	}
}
@for $i from 1 through $cols {
	@include for-tablet-landscape-up {
		.col-#{$i}-tabletl {
			flex: 0 1 $i/$cols * 100%;
		}
	}
}
@for $i from 1 through $cols {
	@include for-desktop-up {
		.col-#{$i}-desktop {
			flex: 0 1 $i/$cols * 100%;
		}
	}
}
@for $i from 1 through $cols {
	@include for-big-desktop-up {
		.col-#{$i}-big {
			flex: 0 1 $i/$cols * 100%;
		}
	}		
}